# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
#if(przerwa_techniczna)    
#    RewriteRule    ^$    webroot/przerwa_techniczna.php    [L]
#    RewriteRule    (.*) webroot/przerwa_techniczna.php    [L]	
#else
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
#endif
</IfModule>
